---
layout: default
title: Research
---

<div id="blog-archives">

	{% for post in site.posts %}
		{% if post.type == "publication" %}
			<article class="post">
				<h1>
					<u> <a href="{{ post.url }}">{{ post.title }}</a> </u>
				</h1>
				<h2>
					{{ post.authors }}. <i>{{post.venue}}.</i>
				</h2>
				<h5>
					<a href="{{ post.external-url }}">[Paper]</a> 
					<a href="{{ post.url }}">[Abstract]</a> 
					{% if post.website %}
					<a href="{{ post.website }}">[Website]</a> 
					{% endif %}
					{% if post.code %}
					<a href="{{ post.code }}">[Code]</a> 
					{% endif %}
					{% if post.slides %}
					<a href="{{ post.slides }}">[Slides]</a> 
					{% endif %}
					{% if post.poster %}
					<a href="{{ post.poster }}">[Poster]</a> 
					{% endif %}
					{% if post.video %}
					<a href="{{ post.video }}">[Video]</a> 
					{% endif %}
					{% if post.demo %}
					<a href="{{ post.demo }}">[Demo]</a> 
					{% endif %}
				</h5>
			</article>
		{% endif %}
	{% endfor %}

</div>
